/.bundle
/db/*.sqlite3
/db/*.sqlite3-journal
/db/shapes
/db/schema.rb
/config/database.yml
/log/*.log
*.log
/tmp/*.png
/tmp/*.jpg
/.idea
*.swp
*.swo
*~
/public/uploads
tags
.DS_Store
.rspec
.env
*.local
*.pid
*.pid.lock
vendor/bundle
/config/custom_locales
/cubes/slicer.ini
public/commit.txt