<tr>
  <td bgcolor="#ffffff" style="padding:45px 45px; text-align:center;" align="center" valign="top">
    <a href="<%= web_url("feedback/#{report.id}") %>" style="font-family:'Open Sans', Arial; font-size:18px; color:#FFF; background:#2AB4DB; display:block; padding:15px 0; text-decoration:none; font-weight:600; border-radius:5px;">Avalie o atendimento</a>
  </td>
</tr>
