<tr>
  <td bgcolor="#ffffff" align="center" valign="top" style="padding:0 45px;">
    <h1 style="color:#2DB0dC; font-weight:300; font-family:'Open Sans', Arial; text-align:center; margin:40px 0 0 0;"><%= greetings_for_email %></h1>
    <h2 style="color:#000000; font-size:19px; font-weight:300; font-family:'Open Sans', Arial; text-align:center; margin:0 0 40px 0;"><%= greeting_message_for_email %></h2>
  </td>
</tr><%= render partial: 'report', locals: { report: @report } %>
