<tr>
  <td bgcolor="#ffffff">
    <h1 style="color: #2db0dc; font-weight: 300; font-family: 'Open Sans', Arial; text-align: center; margin: 40px 0 10px 0;"><%= greetings_for_email %></h1>
    <h2 style="color: #000; font-size: 19px; font-weight: 300; font-family: 'Open Sans', Arial; text-align: center; margin: 0 0 40px 0;">
      Para começar o processo de recuperação de sua senha, por favor, clique no link abaixo:
    </h2>

    <p style="color: #000; font-size: 16px; font-weight: 300; font-family: 'Open Sans', Arial; text-align: center; margin: 0 0 40px 0;">
    <% if @from_panel %>
      <%= link_to 'Clique aqui para resetar sua senha', web_url("user/password/new/#{@token}") %>
    <% else %>
      <%= link_to 'Clique aqui para resetar sua senha', public_web_url("password_reset/#{@token}") %>
    <% end %>
    </p>

    <p style="color: #000; font-size: 16px; font-weight: 300; font-family: 'Open Sans', Arial; text-align: center; margin: 0 0 40px 0;">
      Caso você não tenha efetuado o pedido de recuperação de senha, apenas ignore este e-mail.
    </p>
  </td>
</tr>
