<tr>
  <td bgcolor="#ffffff">
    <h1 style="color: #077f51; font-weight: 300; font-family: 'Open Sans', Arial; text-align: center; margin: 40px 0 10px 0;">Prezado usuário,</h1>
    <h2 style="color: #000; font-size: 19px; font-weight: 300; font-family: 'Open Sans', Arial; text-align: center; margin: 0 0 40px 0;">
      Um ou mais itens sofreram modificações que requerem sua atenção.
    </h2>
  </td>

  <td bgcolor="#990000" width="100" style="border-radius: 20px;color: #FFF; font-size: 12px; font-weight: 600; text-transform: uppercase; letter-spacing: -0.5px; font-family: 'Open Sans', Arial; margin: 0px;padding: 5px;text-align: center;">
    <%= @alert.level_name %>
  </td>
</tr>

<tr>
  <td bgcolor="#FAFAFA" style="padding: 0px 65px 30px 65px; text-align: center;">
    <a href="<%= web_url("feedback/#{@report.id}") %>" style="font-family: 'Open Sans', Arial; font-size: 16px; color: #fff; background: #077f51; display: block;      padding: 15px 0; text-decoration: none; font-weight: bold; border-radius: 5px;">
      Ver itens afetados
    </a>
  </td>
</tr>
